<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/logo_pequeño.png" alt="logo gugu">
        </div>
        <div class="menu tablet">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/productDetail">PRODUCTO</a></li>
                <li>QUIENES SOMOS</li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="#" class="searchForm">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="menu tablet">
            <ul>
                <li><a href="/login"><i class="fas fa-user"></i></a></li>
                <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="menuBurger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
<section class="carrContenido"> 
    <h3>CARRITO DE COMPRAS</h3>
    <div class="infoCarrito"><p>PRODUCTOS</p> <p>SUBTOTAL</p></div>
    <div class="carritoInfoCont">
        <div class="imgCarrito">
            <div class="carrImagen"><img src="img/trenes.jpg" alt="Imagen de trenes"></div>
            <div class="carrTren"> 
                <div>
                    <p>TREN DE MADERA</p> 
                    <p>$5.999</p> 
                </div>
                <div class="carrColumna">
                    <div>+</div>
                    <div>1</div>
                    <div>-</div>
                </div> 
            </div>
        </div>
        <div class="carrEliminar">
            <p> <i class="fas fa-trash"></i></p>
        </div>
    </div>

    <div class="carritoInfoCont">
        <div class="imgCarrito">
            <div class="carrImagen"><img src="img/trenes.jpg" alt="Imagen de trenes"></div>
            <div class="carrTren"> 
                <div>
                    <p>TREN DE MADERA</p> 
                    <p>$5.999</p> 
                </div>
                <div class="carrColumna">
                    <div>+</div>
                    <div>1</div>
                    <div>-</div>
                </div> 
            </div>
        </div>
        <div class="carrEliminar">
            <p> <i class="fas fa-trash"></i></p>
        </div>
    </div>

    <div class="carritoInfoCont">
        <div class="imgCarrito">
            <div class="carrImagen"><img src="img/trenes.jpg" alt="Imagen de trenes"></div>
            <div class="carrTren"> 
                <div>
                    <p>TREN DE MADERA</p> 
                    <p>$5.999</p> 
                </div>
                <div class="carrColumna">
                    <div>+</div>
                    <div>1</div>
                    <div>-</div>
                </div> 
            </div>
        </div>
        <div class="carrEliminar">
            <p> <i class="fas fa-trash"></i></p>
        </div>
    </div>

    <div class="carritoSubtotal"> 
        <p>SUBTOTAL(sin envio):</p>
        <p>$5.999</p>
    </div>

    <div>
        <div>
            <p class="infoEnvio">
                <i class="fas fa-truck"></i>
                <span>ENVIOS GRATIS</span> 
                SUPERANDO LOS $9.000           
            </p>
        </div>

        <div>
            <form action="" class="infoCalcular">
                <input type="text">
                <button>CALCULAR</button>
            </form >
            <p> NO SE MI CODIGO POSTAL</p>
        </div>
        <div class="infoRetiro">
            <p><i class="fas fa-store"></i>
                RETIRO EN EL LOCAL</p>
            <input type="radio"> 
            <!-- comentario -->    
        </div>
    </div>

<div class="infoCodigo">
    <div>
        <p>Codigo Promocional:</p>
    </div>
    <div class="infoPromocion">
        <div>CYBERGUGU</div>
        <p>-25%</p>
    </div>
</div>

<div class="infoTotal"> <p>TOTAL</p>
    <div>
        <div> 5.999 </div>
        <div class="numero"> -2.000 </div>
        <div> 3.999</div>
    </div>
</div>


</section>
    
    
    <footer class="footer">
        <div class="contGrid">
            <div class="div1"> 
                <div class="pagosEnvios">
                    <h4>MEDIOS DE PAGO</h4>
                    <ul class="tarjetas">
                        <li><img src="img/TARJETAS/visa@2x.png" alt="Visa"></li>
                        <li><img src="img/TARJETAS/banelco@2x.png" alt="Banelco"></li>
                        <li><img src="img/TARJETAS/mastercard@2x.png" alt="MasterCard"></li>
                        <li><img src="img/TARJETAS/rapipago@2x.png" alt="Rapipago"></li>
                        <li><img src="img/TARJETAS/mercadopago@2x.png" alt="Mercadopago"></li>
                        <li><img src="img/TARJETAS/tarjeta-naranja@2x.png" alt="Tarjeta naranja"></li>
                        <li><img src="img/TARJETAS/pagofacil@2x.png" alt=""></li>
                        <li><img src="img/TARJETAS/tarjeta-shopping@2x.png" alt=""></li>
                    </ul>
                </div>
                <div class="pagosEnvios">
                    <h4>ENVIOS</h4>
                    <ul class="tarjetas">
                        <li><img src="img/TARJETAS/oca@2x.png" alt="Oca"></li>
                    </ul>
                </div>
            </div>
            <div class="div2">         
                <div class="contacto">
                    <h4>CONTACTO</h4>
                    <ul class="infoList">
                        <li><i class="fas fa-phone-alt"></i> 11 1234 5678</li>
                        <li><i class="fas fa-envelope"></i> contacto@gugu.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Av. 9 de julio 100 - CABA</li>
                    </ul>
                </div>
            </div>
            <div class="div3">        
                <div class="redesFooter">
                    <h4>NUESTRAS REDES</h4>
                    <ul class="infoList redesList">
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div> 
            </div>
        </div>
        <p>GUGU &copy; 2021.</p>
    </footer>
</body>
</html>
</body>
</html>