<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <%- include("../partials/head")  %> 
</head>

<body>
<%- include("../partials/menuHeader.ejs")  %>  


    <!--LOGIN-->
    <div class="iniciar-sesion">
        <h3>INICIAR SESIÓN</h3>
        <img src="img/oso.png" alt="oso">
    </div>

    <section class="sectionLogin">
        <div class="divLogin">
            <div class="divLogin2">
                <form class="formLogin" action="#">

                    <input type="email" placeholder="Email" name="email" id="email" required/>
                    <input type="password" placeholder="Contraseña" name="clave" id="password" minlength="8" required/>
                    <div class="recordarUser">
                        <input type="checkbox" name="recordarUsuario" value="Recordarme" checked>
                        <label for="terminos">Recordarme</label>
                    </div>
                    <a href= "#">¿Olvidaste tu contraseña?</a>
                    <input type="submit" value="INGRESAR" class="button-login">
                    <p>¿No tenés una? <a href="/register">crear cuenta</a></p>
                    
                </form>
            </div> 
        </div>
    </section>

    <!-- FOOTER -->
<%- include("../partials/footerBase.ejs")  %>

</body>
</html>