<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <%- include("../partials/menuHeader.ejs")  %> 
    <div class="contRegisTitu">
        <h3>Bienvenido!</h3>
        <div>
            <img src="img/oso.png" alt="oso">
        </div>
    </div>
    <!--REGISTRO-->
    <section class="detailregister">
        <div class="contregist">
            <div class="contRE">
                <form class="registerForm" action="#">
                    <input type="text" placeholder="Nombre" name="nombre" id="nombre" required/>
                    <input type="text" placeholder="Usuario" name="usuario" id="usuario" required>
                    <input type="email" placeholder="Email" name="email" id="email" required/>
                    <input type="text" placeholder="Domicilio" name="direccion" id="direccion">
                    <input type="tel" placeholder="Teléfono (opcional)" name="telefono" id="telefono"/>
                    <input type="password" placeholder="Contraseña" name="contrasenia" id="contrasenia" minlength="8" required> 
                    <input type="password" placeholder="Confirmar contraseña" name="contrasenia1" id="contrasenia1" minlength="8" required/>
                    <input type="submit" value="REGISTRARSE">
                    <p>¿Ya tenés una cuenta? <a href="/login">Iniciar sesión</a></p>
                </form>
            </div>
            
        </div>
    </section>
    <!--REGISTRO-->
    <%- include("../partials/footerBase.ejs")  %> 
</body>
</html>