<header class="header">
    <div class="logoHeader">
        <img src="/img/logo_pequeño.png" alt="logo gugu">
    </div>
    <div class="menuHeader tabletHeader">
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/productos">PRODUCTOS</a></li>
            <li>QUIENES SOMOS</li>
            <li><a href="/contacto">CONTACTO</a></li>
        </ul>
    </div>
    <div class="searchHeader">
        <form action="#" class="searchFormHeader">
            <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
            <button><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="menuHeader tabletHeader">
        <ul>
            <li><a href="/login"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="menuBurger">
        <i class="fas fa-bars"></i>
    </div>
</header>